name: .NET Build and Test

on:
  push:
    branches:
      - main
      - develop
      - feature/*
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Paso 1: Obtener el c贸digo del repositorio
      - uses: actions/checkout@v4

      # Paso 2: Configurar la versi贸n de .NET
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x   # Ajusta la versi贸n de .NET si es diferente

      # Paso 3: Restaurar dependencias
      - name: Restore dependencies
        run: dotnet restore ClinicaSeprice/ClinicaSepriceAPI.csproj

      # Paso 4: Compilar el proyecto
      - name: Build
        run: dotnet build ClinicaSeprice/ClinicaSepriceAPI.csproj --no-restore

  test:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop'
    steps:
      # Paso 1: Obtener el c贸digo del repositorio
      - uses: actions/checkout@v4

      # Paso 2: Configurar .NET
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      # Paso 3: Restaurar dependencias del proyecto de pruebas
      - name: Restore Test dependencies
        run: dotnet restore ClinicaSepriceTest/ClinicaSepriceTest.csproj

      # Paso 4: Ejecutar pruebas sin --no-build (para que se compile antes de las pruebas)
      - name: Test
        run: dotnet test ClinicaSepriceTest/ClinicaSepriceTest.csproj --verbosity normal
